#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ArticleCard{
  border: solid;
}

.responsive {
 width: 50%; 
}

.DetailArticle{
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: 1.5rem;
}

.sub{
  color:grey;
}
